services:
  - type: web
    name: agentic-ai-backend
    runtime: docker
    plan: free
    region: singapore
    branch: main
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRES_IN
        value: 7d
      - key: GEMINI_API_KEY
        sync: false
      - key: LANGSMITH_API_KEY
        sync: false
    healthCheckPath: /health
    autoDeploy: true
